/*Collor Pallete: https://coolors.co/ffc857-2660a4-ff4242-ff7f11-220c10-eafdcf-191919*/

html, body{
    height: 100%;
    max-height: 100vh;
    margin: 0px;
    padding:0px;
    font-family: 'Roboto', sans-serif;
    background-color: #191919;
}

.text-container{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 50px;
    color: #fff;
}
/* Organizando a Paleta de Cores*/
.color-container{
    position:relative;
    width:80%;
    margin: 0 auto;
}
.color-box{
    display: block;
    height:400px;
    width: 20%;
    position: absolute;
    color: #ffffff;
    text-transform: uppercase;
    font-family: 700;
}
.color-box:hover{
    outline: 5px solid #FFC857;
    cursor: pointer;
    z-index: 1000; /*Ficar por cima dos outros elementos quando estiver em para mostrar o Outline*/
}
.color-box h3{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    font-weight: 700;
}
.color-box:nth-child(2){
    left: 20%;
}
.color-box:nth-child(3){
    left: 40%;
    transform: scale(1.10, 1.10);
    z-index: 10000; /*Z-index para o elemento ficar sobreposto mesmo quando outra div estiver em :hover*/
}
.color-box:nth-child(4){
    left: 60%;
}
.color-box:nth-child(5){
    left: 80%;
}

/* Colorindo a Paleta de Cores*/
.primary-color{
    background: #2660A4;
}
.secondary-color{
    background: #FF4242;
}
.complementary-color{
    background-color: #FF7F11;
}
.dark-color{
    background-color: #220C10;
}
.light-color{
    background-color: #EAFDCF;
    color: #000000 !important;
}

/* Italico nas divs Impar*/
.color-box:nth-child(odd) h3{
    font-style: italic;
}